.footer {
  background: url('../../../assets/img/sections/landing/body/bg_upside.png') center 0 no-repeat,
    #000000;
  background-size: cover;
  padding-top: 235px;
  padding-bottom: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: 'TL', sans-serif;
  font-size: 50px;
  line-height: 58px;
}
