@import './fonts';
@import './themes';
@import './reset';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'MSR', sans-serif;
  font-weight: 400;

  background: #000000;
  color: var(--main-color);
}

.center {
  display: flex;
  justify-content: center;
}

.grey-scroll {
  &::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 0px; /* высота для горизонтального скролла */
    background-color: rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4d4c4d;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #3f3c3f;
  }
}

// try to anim
.anim {
  opacity: 0;
  transform: translateX(-50px);

  transition: 0.8s ease;
  &[data-anim='anim_active'] {
    opacity: 1;
    transform: translateX(0);
  }
}
